*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:cursive;

}

body{
    background:url("background.avif");
    /* background-size: cover; */
    width: 100%;
    height: 100%;
}
.container{
    width: 60%;
    background-color:rgba(127, 186, 199, 0.445);;
    margin: 0 auto;
    padding: 25px;
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: 2px 2px 100px 10px rgb(0, 0, 0);
    backdrop-filter: blur(2px);
   
}
.container h2{
    text-align: center;
}
.container p{
    text-align: center;
    margin-bottom: 10px;
}


form{
    display: flex;
    flex-direction:column;

}
form input{
    padding: 10px;
    margin-top: 8px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(173, 192, 203);
    outline: none;
    /*  we need to change after this  */
}
.Name{
    box-shadow: -1px -10px 1000px 1px rgb(84, 145, 159);
}

.Roll-n{
    box-shadow: 1px 1px 100px 1px rgb(84, 145, 159);
}
form label{
    margin-top: 2px;
    /* display: inline-block; */
    font-size:large;
}
/* input:hover{
    background-color: rgb(218, 230, 230);
} */
input:focus{
    background-color: rgb(255, 255, 255);
}

#submit{
   
    width: 100%;
    margin: 20px;
    margin-left:-1px;
    padding: 8px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(32, 52, 72);
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 1000px 10px rgb(84, 145, 159);

}
#submit:hover{
    background-color: rgb(8, 30, 52);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
@media(max-width:400px){
    label{
        display: none;
    }
    
}